@import "./App.css";
input {
  width: 100%;
  margin-top: 52px;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: var(--input);
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text);
  &:focus {
    border: 2px solid hsl(274deg, 82%, 60%);
  }
}
label {
  position: relative;
}
.iconssearch {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}
.error {
  margin-top: 1.5rem;
  color: hsl(0, 67%, 44%);
  font-size: 1.7rem;
  font-weight: 600;
}
.Toastify__toast {
  background-color: var(--error) !important;
  color: var(--text);
}
.Toastify__toast--error {
  margin-bottom: 2rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
}
